/out
target/
.idea/dictionaries/widmann.xml
.idea/findbugs-idea.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/jenkinsSettings.xml
.idea/opencms.xml
.idea/workspace.xml
/atlassian-ide-plugin.xml
/todo_and_ideas.txt
/opencms-intellijplugin.zip
kai.xml
